<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>API Rest - Auth Service</h1>
    <p>API para SignIn/SignUp de usuários.</p>
    <p>(Teste Concrete Solution - Cleber Castilho)</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Informações adicionais:
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-indent-left"></span> Endpoints</h3>
      <ul>
        <li><a>/api/usuario/cadastrar</a>: Usado para cadastrar um novo usuário.</li>
        <li><a>/api/usuario/autenticar</a>: Usado para autenticar um usuário cadastrado.</li>
        <li><a>/api/usuario/obter/{id}</a>: Usado para obter um usuário autenticado.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-list"></span> Database</h3>
      <ul>
        <li>O banco de dados usado para a persistência de dados foi o MongoDB.</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Qualquer problema, entre em contato comigo!<br/>
    Tel: (11) 99497-3837 - Email: cleber.castilho@gmail.com
  </div>
</div>


</body>
</html>
